<h3>Your length is <%= @length %>.</h3>
<h3>Your width is <%= @width %>.</h3>
<h3>Your height is <%= @height %>.</h3>
<h3>Your weight is <%= @weight %>.</h3>
<h3>Your priority is <%= @rush %>.</h3>
<h3>Your ship to location is <%= @location %>.</h3>

<h3>Your total volume is: <%= @display_volume %> in/sq</h3>
<h3>Your total cost is: $<%= @display_cost %></h3>
<a href='/'>Return to home page</a>
